In [ ]:
Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [ ]:
EXAMPLE 1

In [4]:
l = [(45,"sumit"),(23,"nitin"),(71,"pia"),(42,"ria"),(61,"somya")]

In [7]:
sort_l = sorted(l,key= lambda x: x[0])

In [9]:
m= []
for i in sort_l:
    m.append(i)

In [10]:
m

[(23, 'nitin'), (42, 'ria'), (45, 'sumit'), (61, 'somya'), (71, 'pia')]

In [12]:
sort_l

[(23, 'nitin'), (42, 'ria'), (45, 'sumit'), (61, 'somya'), (71, 'pia')]

In [ ]:
EXAMPLE 2

In [15]:
a = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sort_list = sorted(a,key=lambda x: x[1])

In [16]:
sort_list

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [ ]:
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [19]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x: str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [20]:
l = []
n = 26
for i in range(1,n):
    l.append(i)

In [21]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [22]:
from functools import reduce
reduce(lambda x,y: x*y,l)

15511210043330985984000000

In [ ]:
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [23]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 or x%3==0,l))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [ ]:
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [25]:
l = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: (x =="".join(reverse(x))),l))

NameError: name 'reverse' is not defined