In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
ANS: Comments in Python are identified as "#" and " '''       ''' " in which "#" are used when we want to comment 
a single line and " '''          ''' " are used when we want to comment a paragrah or more than one line (multiple 
line) 
like if we want to comment (a = 5) single line then press the key shilf+hash or ctrl + / and for coment out press again 
shift + hash
If we want to comment multiple line then put triple inverted comma " ''' " in first line and then directly in last
line .... 
example :

In [2]:
# a = 5

In [3]:
'''m = 8
if m>5:
    print("you win")
else:
    print("you lose")'''

'm = 8\nif m>5:\n    print("you win")\nelse:\n    print("you lose")'

In [ ]:
Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
ANA: A pyhton variable is a symbolic name that is reference or pointer to an object and oject can be int ,float string,list,tuples etc Once obect is assigned to a variable, you can refer to the object by that name. But data itself contained in object.
examle : a = 4
       c = 'priya'
       b = [23,56,True,'no']
        d = (4,6.66,2,1,2)
so here a ,b , c ,d  are variables which are assigned by different data type like int , string,list, tuples... there are many different data type objects.

In [5]:
a = 5  #here a is assigned by integer number 5

In [6]:
a

5

In [7]:
 b = [23,56,True,'no']    #here b is assigned by list

In [8]:
b

[23, 56, True, 'no']

In [9]:
c = 'priya'  #here c is assigned by string

In [10]:
c

'priya'

In [11]:
d = (4,6.66,2,1,2)    #here d is assigned by tuples

In [12]:
d

(4, 6.66, 2, 1, 2)

In [ ]:
Q3. How do you convert one data type to another in Python?

In [ ]:
ANS: Let we have a = 5 where 5 is an integer number and want to convert it into string. Then code a = str(a) and then run.

In [13]:
a = 5

In [14]:
type(a)

int

In [15]:
a = str(a)

In [16]:
type(a)

str

In [17]:
a

'5'

In [18]:
a = float(a)

In [19]:
type(a)

float

In [ ]:
a

5.0

In [41]:
t = 'priya'

In [42]:
l = list(t)

In [43]:
type(l)

list

In [46]:
l

['p', 'r', 'i', 'y', 'a']

In [47]:
s = [34,67.99,True,'no']

In [50]:
s = tuple(s)

In [51]:
type(s)

tuple

In [55]:
s

(34, 67.99, True, 'no')

In [56]:
x = '7'

In [57]:
x = list(x)

In [58]:
type(x)

list

In [59]:
x

['7']

In [ ]:
Q4. How do you write and execute a Python script from the command line?

In [ ]:
ANS: First we create a python file by typing 'script' along with the file name in the command line. like  we can create a pytho file "hello.py" by typing "script hello.py" in terminal. this will open a new file in script where we can start writing our pyhton code

In [ ]:
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [60]:
my_list = [1,2,3,4,5]

In [61]:
my_list = my_list[1:3]

In [62]:
my_list

[2, 3]

In [ ]:
Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
ANS: In mathematics, complex number are the numbers that are expressed in the form of a +ib where a , b are real numbers and 'i' is imaginary number called 'iota'.
But in python complex number are expressed in form of a+ jb where  'j' is an imaginary number.
example : 3 +4j

In [68]:
comp_num = 3 +7j

In [69]:
type(comp_num)

complex

In [71]:
comp_num.real

3.0

In [72]:
comp_num.imag

7.0

In [ ]:
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [84]:
age = 25

In [85]:
age

25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [86]:
price = 9.99

In [87]:
price

9.99

In [89]:
type(price)

float

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [90]:
name = 'Priya Shaakya'

In [91]:
name

'Priya Shaakya'

In [ ]:
Q10. Given the string "Hello, World!", extract the substring "World".

In [92]:
s = "Hello, World!"

In [97]:
s1 = s[7:12]

In [98]:
s1

'World'

In [ ]:
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True or False

In [101]:
is_student

True